In [4]:
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

In [6]:
cosine_similarity([[3,1]],[[6,2]])

array([[1.]])

In [7]:
#the documents/features are very similar

In [8]:
cosine_distances([[3,1]],[[6,2]])

array([[1.11022302e-16]])

In [9]:
import pandas as pd

In [12]:
df = pd.DataFrame([{'iphone':3,'galaxy':1},{'iphone':2,'galaxy':0},{'iphone':1,'galaxy':3},{'iphone':1,'galaxy':2}],index=['doc1','doc2','doc3','doc4'])

In [13]:
df

      iphone  galaxy
doc1       3       1
doc2       2       0
doc3       1       3
doc4       1       2

In [20]:
df.loc["doc1":"doc1"]

      iphone  galaxy
doc1       3       1

In [21]:
cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc2":"doc2"])

array([[0.9486833]])

In [18]:
#very similar above

In [22]:
cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc3":"doc3"])

array([[0.6]])

In [23]:
#not similar

In [25]:
cosine_distances(df.loc["doc1":"doc1"],df.loc["doc3":"doc3"])

array([[0.4]])